.btn {
    &, // just btn class (for <button> element that doesn't have link/visited pseudo classes
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 3.5rem;
        padding: 1.5rem 4rem;
        display: inline-block;
        transition: 0.2s;
        position: relative;
        font-size: $default-font-size;

        // change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(black ,0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(0);
        box-shadow: 0 0.5rem 1rem rgba(black ,0.2);
        
        &:focus {
            outline: none;
        }    
    }

    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 35px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 0.4s;
    }
    
    &--white {
        color: #777;
        background-color: white;

        &::after {
            background-color: white;
        }
    }

    &--green {
        color: white;
        background-color: $color-primary;

        &::after {
            background-color: $color-primary;
        }
    }
    
    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        border-radius: 2px;
        transition: 0.2s;
    }

    &:hover {
        background: $color-primary;
        color: white;
        box-shadow: 0 1rem 2rem rgba(black, 0.2);
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 0.5rem 1rem rgba(black ,0.2);
    }

}